.container {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Open Sans', sans-serif;
}
  
#email {
  display: block;
  width: 100%;
  height: 30px;
  padding: 3px;
  box-sizing: border-box;
  border: solid thin #cfcfcf;
  border-radius: 3px;
  }
  
button {
  display: block;
  width: 100%;
  background-color: #3cb878;
  border:none;
  color:white;
  height: 30px;
  margin-top: 5px;
  font-family: 'Open Sans', sans-serif;
/*   margin-bottom:10px; */
  }


#terms {
  position: relative;
  top:1px;
  left:0px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.newsletter-box {
  border: solid thin #cfcfcf;
  border-radius: 3px;
  padding:10px;
  color: grey;
  position:relative;
}

.newsletter-box h3 {
  margin-top: 0px;
}

.closex {
  position: absolute;
  top:0px;
  right: 10px;
  cursor:pointer;
}

#questioncircle {
  font-size: 70px;
  color:white;
  background-color: #3cb878;
/*   background: url('https://github.com/green-fox-academy/stayathome-syllabus/blob/master/week01/assets/money.png?raw=true'); */
  height:100px;
  width:100px;
  border-radius:50%;
  text-align:center;
  position:fixed;
  bottom: 10px;
  right: 10px;
}

#questioncircle:hover {
  background-color: blue;
}
.card {
  color: white;
  background-color: #3cb878;
  width: 180px;
  text-align:center;
  padding-top:20px;
  padding-bottom: 6px;
  margin-bottom:10px;
  box-shadow: 0px 0px 5px 3px grey;
/*   flex-grow:1; */
}

.card-holder{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap:wrap;
  height: 700px;
  align-content: center;
}
/* #another{
  color: blue;
}

.red{
  color:red;
}
 */